* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* margin-left: 50px; */
}

.navbar {
  /* border: 2px solid blue; */
  background-color: #27005d;
  display: flex;
  flex-basis: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.logo {
  /* border: 1px solid red; */
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.links-container {
  display: flex;
  gap: 30px;
}

.link {
  /* border: 1px solid palevioletred; */

  font-size: 18px;
  color: #e5e7eb;
  /* flex: 1; */
}

.hero {
  /* border: 1px solid red; */
  background-color: #27005d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 100px;
  gap: 50px;
  min-width: 0;
}

.hero > .left {
  /* border: 1px solid blue; */
  flex: 1;
  /* flex-basis: 465px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  /* padding-right: 70px; */
}

.hero > .right {
  /* border: 1px solid red; */
  flex: 1;
}

img {
  width: 100%;
  height: auto;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  text-align: left;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  text-align: left;
}

.button {
  background-color: #9400ff;
  /* border: 2px red solid; */
  color: white;
  padding: 8px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 8px;
}

.content {
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  padding: 75px 0;
}

.content-text {
  /* border: 2px solid purple; */
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: 800;
  color: #27005d;
}

.cards {
  /* border: 2px solid purple; */
  padding: 10px 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  flex-wrap: wrap;
}

.card {
  /* border: 3px solid red; */
  /* border-radius: 8px; */
  /* flex: 0 0 150px; */
  /* flex-shrink: 0; */
  width: 200px;
  /* height: 150px; */
}

.card-img {
  border: 5px solid #9400ff;
  border-radius: 8px;
  /* flex: 0 0 150px; */
  /* flex-shrink: 0; */
  /* width: 150px;
  height: 150px; */
  margin-top: 0;
  margin-bottom: 10px;
  padding: 15px;

  min-width: 0;
}

.card > .description {
  /* border: 4px solid green; */
  border-radius: 8px;
  font-size: 12px;
  color: #1f2937;
}

.quote {
  padding: 100px 0;
  /* border: 3px solid black; */
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}

.quote-container {
  width: 80%;
  /* border: 3px solid green; */
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  /* align-items: center; */
}

.actual-quote {
  text-align: left;
  /* border: 3px solid red; */
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 15px;
}

.quote-source {
  /* border: 3px solid yellow; */
  align-self: flex-end;
  font-size: 20px;
  font-weight: 800;
}

.call-to-action {
  /* border: 4px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.call-to-action-container{
  /* border: 5px solid purple; */
  border-radius: 8px;
  background-color: #9400ff;
  display: flex;
  padding: 50px 100px;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.call-to-action-container > .left {
  /* border: 4px solid blue; */
  /* margin-left: 50px; */
  flex: 2;
}

.call-to-action-container > .right {
  display: flex;
  /* border: 4px solid blue; */
  justify-content: right;
  /* margin-right: 50px; */
  flex: 1;
}
.call-to-action-container > .left > .title, 
.call-to-action-container > .left > .subtext {
  color: white;
  text-align: left;
}

.call-to-action-container > .left > .title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.call-to-action-container > .left > .subtext {
  color: #e5e7eb;
  font-size: 20px;
  font-weight: 100;
}

.call-to-action-container > .right > .button {
  background-color: #9400ff;
  border: 2px white solid;
  color: white;
  padding: 8px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 8px;
}

.footer {
  /* border: 5px solid gray; */
  background-color: #27005d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.footer-content {
  color: #f9faf8;
}

/* When looking at screens <700px, hero image disappears RESPONSIVE DESIGN/MOBILE FRIENDLY */
@media only screen and (max-width: 700px) {
  .hero > .right {
    display: none;
  }

  .navbar {
    /* border: 2px solid blue; */
    background-color: #27005d;
    display: flex;
    flex-basis: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }

  .hero {
    /* border: 1px solid red; */
    background-color: #27005d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px;
    gap: 50px;
    min-width: 0;
  }

  .hero > .left {
    /* border: 1px solid blue; */
    flex: 1;
    /* flex-basis: 465px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    /* padding-right: 70px; */
  }

  .button {
    background-color: #9400ff;
    /* border: 2px red solid; */
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 8px;
  }

  .call-to-action {
    /* border: 4px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .call-to-action-container{
    /* border: 5px solid purple; */
    border-radius: 8px;
    background-color: #9400ff;
    display: flex;
    padding: 50px 30px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    flex-direction: column;
  }
  .call-to-action-container > .left > .title, 
  .call-to-action-container > .left > .subtext {
    color: white;
    text-align: center;
  }

}
